<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<main>
    <h1> <%= about %> </h1>
    <hr>
    <div id="contenedor-productos">

        <!-- Vamos a iterar el array de productos que le pasamos desde el endpoint -->
        <% productos.forEach(producto => { %>
            <div class="card-producto">
                <img src="<%= producto.img_url %>" alt="<%= producto.nombre %>">
                <h5><%= producto.nombre %></h5>
                <p>Id: <%= producto.id %></p>
                <p>$<%= producto.precio %></p>
            </div>
        <% }) %>

    </div>
</main>


<%- include("partials/footer.ejs") %>